.header {
  background-color: #001040;
  height: 60px;
}

.header__icon {
  height: 50px;
  width: 50px;
}

.header__center-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
}

.header__container {
  height: inherit;
}

.header__text {
  font-size: 20px;
  color: #00BF30!important;
  margin-left: 10px;
  margin-top:inherit;
  margin-bottom:inherit;
}